#loginContainer {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  background-color: white;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 2px;
  margin: 100px auto 25px;
  padding: 12px 24px;
  align-items: center;
}

#loginHead {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

#instaLink {
}

#instaLink:hover {
  cursor: pointer;
}

#instaBrand {
}

#loginBody {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 100%;
}

.input + .input {
  margin-top: 12px;
}

#usernameInput {
}

#avatarInput {
}

#bodyText {
  text-align: center;
  color: grey;
  margin: 28px 0px;
}

#alart {
  /* color: red; */
  /* color: greenyellow; */
  text-align: center;
  margin: 0px 0px 28px;
  font-weight: 800;
  font-size: large;
  /* text-shadow: 0px 0px 5px rgb(255, 124, 124); */
  /* text-shadow: 0px 0px 5px rgb(20, 160, 20); */
}

.hidden {
  display: none;
  /* visibility: hidden; */
}

#btnContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.btnContainerBtn {
  height: 24px;
  width: 45%;
  background-color: #0095f6;
  color: white;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
}

.btnContainerBtn:hover {
  cursor: pointer;
}

#loginBtn {
}

#signUpBtn {
}

#picsumLink {
  color: red;
}

.locked {
  background-color: grey;
}

.locked:hover {
  cursor: not-allowed;
}
